<div class="panel-group online-support-form" data-display="hide">
  <div class="panel panel-default">
    <div id="collapse_support">
      <div class="panel-heading online-support-heading">
        <%= t "supports.contact_with_admin" %>
        <span class="fa fa-times close-support-form"></span>
      </div>
      <div class="panel-body user-support-list scroll-y" id="support-message"
        data-user-id="<%= current_user.id %>">
        <%= render partial: "supports/support", collection: @supports %>
      </div>
      <div class="panel-footer">
        <%= render "supports/new_support", support: @support %>
      </div>
    </div>
  </div>
</div>
