<li class="list-group-item row activity">
  <div class="col-md-1">
    <i class="glyphicon glyphicon-remove"></i>
  </div>
  <div class="col-md-9">
    <div class="notice">
      <span class = "action-activity">
        <strong><%= t "public_activity.activity_space_destroy" %></strong>
      </span>
    </div>
    <small>
      <%= l activity.created_at, format: :default %>
    </small>
  </div>
</li>
