<%= javascript_include_tag "admin/venues.js" %>
<% provide :title, t("admin.venues.admin_venues_management_title") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="admin_venue_title"><%= t "admin.venues.all_venues" %></h1>
    <%= render "search_venues_form" %>
    <div id="list_venue">
      <%= render "list_venue" %>
    </div>
  </div>
</div>
