#chart_select {
  margin-top: 20px;
}

.new_statistics_title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #666666 !important;
  text-decoration: none;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}
