.admin_venue_title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #666666 !important;
  text-decoration: none;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
} 

.search_venues {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 17px;
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    background: #ededed url(search.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 190px;
    height: 12px;
    -webkit-border-radius:15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  input[type=search]:focus {
    width: 300px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
}

.table-venues {
  th {
    text-align: left;
    background-color: #167F92 !important;
    color: #FFF;
    padding: 12px !important;
    font-size: 18px !important;
  } 
}

#exampleModal {
  z-index: 10222;
}

#space_button {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
}

#back {
  margin-left: 20px;
}

.modal-dialog-venue {
  margin: 0px auto !important;
}

.modal-body-venue {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.modal-title-venue {
  font-size: 30px;
  color: #666666;
 }

.message {
  text-align: center;
  color: #666666 !important;
  text-decoration: none;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

.name-title {
  margin-top: 20px;
  font-size: 17px;
  color: #666666;
  line-height: 1;
  position: relative;
}
