<td class="text-left col-md-12">
  <span class="fa fa-envelope col-md-12" aria-hidden="true">
    <%= order.payment_detail.email %></span></p>
  <strong>
    <span class="fa fa-phone-square col-md-12" aria-hidden="true">
      <%= order.payment_detail.phone %></span>
  </strong>
  </p>
  <span class="fa fa-location-arrow col-md-12" aria-hidden="true">
    <%= order.payment_detail.address %></span>
</td>
