<strong>
  <span class="fa fa-phone-square" aria-hidden="true">
    <%= order.payment_detail.phone %></span></p>
</strong>
<span class="fa fa-location-arrow" aria-hidden="true">
  <%= order.payment_detail.address %></span>
