<li class="list-group-item row activity">
  <div class="col-md-1">
    <i class="glyphicon glyphicon-plus"></i>
  </div>
  <div class="col-md-9">
    <div class="notice">
      <%= render "public_activity/shared/form_create",
        notice: t("public_activity.activity_venue_create"), activity: activity %>
    </div>
    <small>
      <%= l activity.created_at, format: :default %>
    </small>
  </div>
</li>
