<div class="panel">
  <div class="panel-header" id="admin-support-user-name"></div>
  <div class="panel-body admin-support-list" id="support-message"
    data-user-id="0"></div>
  <div class="panel-footer" id="admin-new-support"></div>
</div>
