#notification_count {
  top: -12px;
  left: 10px;
}

#fix-number {
  position: relative;
}

#notificationList {
  margin-left: -14px;
  width: 100%;
}

#load-notification {
  display: none;
}

.notification-body{
  margin-bottom: 8px;
}

ul #notificationList
{
  li
  {
    position:relative;
    border-bottom: rgba(249, 246, 246, 0.15) 1px solid;
    margin-top: 15px;
    a {
      display: inline-block;
      text-align: left;
    }
  }

}

#notificationsBody ul
{
  padding-left: 20px;
}

.notificationContainer
{
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  width: 280px;
  z-index: 0;
  display: none;
  margin-left: 13%;
  margin-top: 7.5%;
  z-index: 9999 !important;
}

.overflow-auto {
  overflow: auto;
}

.notificationContainer:before {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 258px;
}

#notificationsBody
{
  padding: 3px 0px 0px 0px !important;
  min-height:300px;
  max-height:300px;
  overflow: auto;
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
}
 #notificationsTitle{
  margin-bottom: 35px;
  margin-right: 4%;
 }

#notificationFooter
{
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

.style-notification {
  color: #333 !important;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.style-all-notification {
  color: black !important;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.fix-noti {
  margin-left: 9%;
}

@media (max-width: 1595px) {
  .notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 70px;
    width: 300px;
    z-index: 0;
    display: none;
    margin-left: 187px;
    margin-top: 158px;
  }
}

.unread {
  background: #dddddd;
}

.border-radius-10 {
  border-radius: 10px;
}

.hr-notification {
  margin-top: 3px;
  margin-bottom: 3px;
  border-color: #afa6a6;
}

.hr-space {
  margin-top: 1px;
  margin-bottom: 1px;
}

.read-all {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

#color-view {
  color: black;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-left-13 {
  padding-left: 13%;
}

.padding-left-7 {
  padding-left: 7%;
}

.padding-top-11 {
  padding-top: 11%;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-40 {
  padding-left: 40px;
}
