.admin-report-button {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: right top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: right top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: right top;
  -o-transform: rotate(90deg);
  -o-transform-origin: right top;
  transform: rotate(90deg);
  transform-origin: right top;
  color: black;
  position: fixed;
  z-index: 6000;
  right: 10px;
  top: 50%;
  font-size: 20px;
  padding: 10px;
  opacity: 0.5;
  cursor:pointer;
}

.admin-report-button:hover {
  opacity: 1;
}

.admin-report-navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: #00464f;
  color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.admin-report-navbar .admin-report-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .admin-report-navbar {padding-top: 15px;}
  .admin-report-navbar a {font-size: 18px;}
}

.list-reports {
  margin-left: 15px;
  margin-right: 15px;
}

.list-reports-title {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
