.review_record {
  margin-top: 20px;
}

.time_review {
  font-style: italic;
  opacity: 0.5;
}

.review_content {
  font-size: 15px;
  margin-left: 20px;
}

.load_more_review {
  text-align: center;
}

.review_form_input {
  height: 100px !important;
}

.submit_review {
  float: right;
  margin-bottom: 20px;
  margin-top: 10px;
}

.submit_review_div {
  padding-right: 0 !important;
}

.review_form {
  margin-bottom: 20px;
}

.loading_gif {
  display: none;
}
