.padding-bot-10 {
  padding-bottom: 10px;
}
.margin-top-15 {
  margin-bottom: 20px;
}
.margin-bot-15 {
  margin-top: 15px;
}
.navbar {
  border-radius: 0px !important;
}
#toggle-sidebar-section:hover, #toggle-sidebar-section:focus {
  background: #394263 !important;
}
.sidebar-brand {
  background: #394263 !important;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.icon_tag {
  width: 45px;
  height: 45px;
  margin-right: 3%;
}

.image_index {
  width: 90px;
  height: 90px;
  margin-right: 3%;
  padding-bottom: 0;
}

.text-color {
  color: white;
}

.fa-3 {
  font-size: 35px!important;
  margin-right: 3%;
}

.themed-background-fixed {
  height: 150px;
  border-radius: 25px;
  border: 2px solid #428bca;
}

.h2-fix {
  margin-top: 5%!important;
  margin-bottom: 5px!important;
}

.text-fix {
  word-wrap: break-word;
}

.btn-fix {
  width: 150px;
}

.select-capitalize {
  text-transform: capitalize;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
}

.x_button {
  color: red;
}

.fix-switch {
  font-size: 8px;
  text-align: right;
  width: auto;
  border-radius: 6px!important;
}

.themed-background-fixed2 {
  height: 100px;
  border-radius: 25px;
  border: 2px solid #ccc;
}

.venue-name {
  font-size: 200%;
  text-align: center;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.form-banking {
  background-color: white;
}

.color-bg {
  background-color: #00464f !important;
}

.modal-banking-style {
  padding-top: 5% !important;
}

.space_icon {
  width: 70px !important;
  height: 70px !important;
}

.info_window {
  width: auto;
  max-width: 340px;
  max-height: 310px;
  overflow: auto;
}

.close-space-detail {
  position: fixed;
  z-index: 9999;
  right: 15px;
}

.space_price {
  display: inline;
  float: right;
  margin: 12px 0px;
  font-size: 17px;
}

.space_type_style {
  display: inline;
  float: left;
}

#pac-input-space {
  background-color: #e8e8e8;
  left: 10px;
}

.form-search-space {
  margin-top: 25px;
}

.color-glyphicon {
  color: black;
}

.min-switch{
  min-width: 300px;
}

.seach-space-button {
  width: 100% !important;
}

.show_price {
  background: #FFFFFF;
  border-color: transparent;
  box-shadow: none;
}
