<% provide :title, t("admin.users.admin_users_management_title") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="admin_user_title"><%= t "admin.users.users_management" %></h1>
    <%= render "search_users_form" %>
    <%= render "list" %>
  </div>
</div>
